.navbar {
  width: 100%;
  background: #1f9751;
  padding: 20px 10px;
  box-sizing: border-box;
  color: #fff;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button,
.navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.specialButton {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.specialButton:hover {
  background: #fff;
  color: #1f9751;
}

@media (max-width: 360px) {
  .greeting {
    display: none;
  }
}
